[[extend 'layout.html']]

[[block page_head]]
<link rel="stylesheet" href="css/edit.css">
[[end]]

<section class="section">

  <div id="vue-target">

    <div class="columns">
      <div class="column is-one-third">
        <!-- List of places -->
        <div class="title is-size-4">Ballot Drop-Off Locations</div>
        <table class="table is-narrow is-hoverable location_list">
          <tbody>
            <tr v-for="loc in locations" @click="edit_loc(loc._idx)" :class="{'is-active': loc.is_active}">
              <td class="location_label" >{{loc.label}}</td>
              <td class="location_name">{{loc.name}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="column">
        <!-- Search for map positioning -->
        <div class="field">
          <div class="control has-icons-right">
            <input class="input" v-model="search_text" placeholder="Center map on address" @keydown="map_search">
            <span class="icon is-small is-right"><i class="fa fa-search"></i></span>
          </div>
        </div>

        <!-- Map -->
        <div id="map"></div>
        <!-- Place edit -->
        <div class="editfield">
          Hello.
        </div>
      </div>
    </div>


  </div>

</section>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let maps_api_key = "[[=XML(MAPS_API_KEY)]]";
  let callback_url = "[[=XML(callback_url)]]";
</script>
<script src="js/edit.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=[[=MAPS_API_KEY]]&callback=initMap"
  type="text/javascript"></script>
[[end]]