[[extend 'layout.html']]

[[block page_head]]
<link rel="stylesheet" href="css/edit.css">
[[end]]

<section class="section">

  [[if can_edit:]]
  <div id="vue-target">

    <div class="columns">
      <div class="column is-one-third">
        <div v-if="mode === 'browse'">
          <!-- List of places -->
          <div class="title is-size-4">Ballot Drop-Off Locations
            <button @click="add_loc" class="button is-light"><i class="fa fa-plus"></i></button>
          </div>
          <div class="field">
            <label class="checkbox">
              <input type="checkbox" v-model="include_deleted" @change="load_locations">
              Show deleted locations
            </label>
          </div>
          <div v-if="loaded && locations.length === 0">
            No locations in map area.
          </div>
          <div v-if="include_deleted" class="subtitle">Live locations</div>
          <table class="table is-narrow is-hoverable is-fullwidth location_list">
            <tbody>
              <tr v-for="loc in locations" @click="edit_loc(loc._idx)">
                <template v-if="!loc.is_deleted">
                  <td class="location_label" >{{loc.label}}</td>
                  <td class="location_name">{{loc.name}}</td>
                </template>
              </tr>
            </tbody>
          </table>
          <div v-if="include_deleted" class="subtitle">Deleted locations</div>
          <table v-if="include_deleted" class="table is-narrow is-hoverable is-fullwidth location_list">
            <tbody>
              <tr v-for="loc in locations" @click="edit_loc(loc._idx)">
                <template v-if="loc.is_deleted">
                  <td class="location_label" >{{loc.label}}</td>
                  <td class="location_name">{{loc.name}}</td>
                </template>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- Edit/add of one location -->
        <div v-else>
          <div class="editform">
            <div class="field">
              <label for="name" class="label">Name</label>
              <input class="input" placeholder="Location name" v-model="eloc.name">
              <p v-if="!eloc.name" class="has-text-danger">The name cannot be empty</p>
            </div>
            <div class="field">
              <label class="label">Address</label>
              <textarea class="textarea" v-model="eloc.address" rows="2"></textarea>
              <button class="button is-light" @click="move_marker_to_address"><i class="fa fa-crosshairs"></i></button>
            </div>
            <div class="field">
              <label for="loc_type" class="label">Location type</label>
              <div class="select">
                <select v-model="eloc.loc_type">
                  <option value="Polling site">Polling site</option>
                  <option value="Ballot drop box">Ballot drop box</option>
                  <option value="Other">Other</option>
                </select>
              </div>
              <input class="input" placeholder="Type of location" v-if="eloc.loc_type==='Other'" v-model="eloc.type_other">
            </div>
            <div class="field">
              <label class="label">County</label>
              <input class="input" v-model="eloc.county" placeholder="County name">
            </div>
            <div class="field">
              <label class="label">Rules</label>
              <textarea class="textarea" v-model="eloc.rules" rows="2" placeholder="Who can bring ballots, can one bring them for others, ..."></textarea>
            </div>
            <div class="field">
              <label class="label">Notes</label>
              <textarea class="textarea" v-model="eloc.notes" rows="2" placeholder="When is the site open, when does collection happen, ..."></textarea>
            </div>
            <div class="field">
              <label class="checkbox">
                <input type="checkbox" @change="toggle_deleted" v-model="eloc.is_deleted">
              </label>
              Deleted
            </div>
            <div class="field is-grouped">
              <p class="control"><button class="button is-danger" :disabled="edit_pending" @click="cancel_edit"><span class="icon is-small"><i class="fa fa-chevron-left"></i></span><span>Cancel</span></button></p>
              <p class="control" v-if="is_modified || edit_pending"><button class="button is-info" :disabled="!eloc.name" :class="{'is-loading': edit_pending}" @click="save_edit"><span class="icon is-small"><i class="fa fa-check"></i></span><span>Save</span></button></p>
              <p class="control" v-else><button class="button is-success" @click="confirm"><span class="icon is-small"><i class="fa fa-thumbs-up"></i></span><span>Correct</span></button></p>
            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <!-- Search for map positioning -->
        <div class="field">
          <div class="control has-icons-right">
            <input class="input" v-model="search_text" placeholder="Center map on address" @keydown="map_center">
            <span class="icon is-small is-right"><i class="fa fa-search"></i></span>
          </div>
        </div>

        <!-- Map -->
        <div id="map"></div>
        <div v-if="mode==='browse' && maybe_incomplete" class="has-text-grey-dark">
          <b>Please zoom in:</b> results may be incomplete.
        </div>
        <div v-if="mode==='edit'" class="has-text-grey-dark">
          Drag the pointer to refine the location.
        </div>
      </div>
    </div>

  </div>

  [[ else: ]]
    <!-- Cannot edit -->
    <div class="content">
      You do not currently have permission to edit this site.
      To be able to edit this site, you need an <em>invitation code.</em>
      There are two ways to get such a code:
      <ul>
        <li><b>Ask another editor:</b> You can ask someone who can edit
        to send you an invitation code.  Editors can find these codes in the <em>invite</em>
        tab of the web site.</li>
        <li><b>Ask the site maintainers:</b> You can email
        <a href="mailto:vote-map@googlegroups.com">vote-map@googlegroups.com</a>
          explaining why you would like to edit the information, and what your role
          in the elections is.
        </li>
      </ul>
      Once you obtain an invitation code, you can enter it in the <em>invite</em> tab.
    </div>
  [[pass]]

</section>

[[if can_edit:]]
[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let maps_api_key = "[[=XML(MAPS_API_KEY)]]";
  let callback_url = "[[=XML(callback_url)]]";
  let geolocation_url = "[[=XML(geolocation_url)]]";
</script>
<script src="js/edit.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=[[=MAPS_API_KEY]]&callback=initMap"
  type="text/javascript"></script>
[[end]]
[[pass]]