[[extend 'layout.html']]

[[block page_head]]
<link rel="stylesheet" href="css/index.css">
[[end]]

<section class="section">

  <div id="vue-target">

    <div class="columns">
      <div class="column is-one-third">

        <h1 class="title">Search ballot return locations</h1>

        <!-- zip code -->
        <div class="field">
          <label class="label">Zip code</label>
          <div class="control has-icons-right">
            <input class="input" placeholder="Your zip code" @keydown="lookup_zip" v-model="zipcode">
            <span class="icon is-small is-right"><i class="fa fa-search"></i></span>
          </div>
        </div>

        <!-- Place list -->
        <div v-if="locations.length === 0 && search_happened">
          No locations found.
        </div>
        <div v-if="locations.length === 0" class="mt-5">
          Enter a zip code to search for locations where ballots can be returned.
        </div>
        <div v-else>
          <div class="subtitle">Locations:</div>
          <div v-if="!loc_specified && locations.length > 0">
            Your location has been guessed on the basis of your IP address.
          </div>
          <div class="location_list" style="overflow-y: scroll;">
            <div v-for="loc in locations" class="location_result" @click="goto(loc._idx)">
              <p>{{loc.name}}</p>
              <p v-if="loc.address" class="is-size-6 has-text-grey">{{loc.address}}</p>
            </div>
          </div>
          <div v-if="locations.length > 0" class="has-text-grey mt-4">
            Click on a result to display it on a map.
          </div>
        </div>
      </div>

      <div class="column">
        <iframe width="100%" style="height:450px !important" height="450" frameborder="0" style="border:0"
                :src="mapsurl" allowfullscreen></iframe>

        <!-- Details -->
        <div v-if="eloc">
          <div class="field">
            <label for="name" class="label">Name</label>
            <p>{{eloc.name}}</p>
          </div>
          <div class="field">
            <label for="county" class="label">County</label>
            <p>{{eloc.county}}</p>
          </div>
          <div class="field">
            <label class="label">Address</label>
            <p style="white-space: pre-wrap;">{{eloc.address}}</p>
          </div>
          <div v-if="eloc.loc_type !== 'Other' || eloc.type_other" class="field">
            <label class="label">Location type</label>
            <p v-if="eloc.loc_type === 'Other'">{{eloc.type_other}}</p>
            <p v-else>{{eloc.loc_type}}</p>
          </div>
          <div v-if="eloc.rules" class="field">
            <label class="label">Rules</label>
            <p style="white-space: pre-wrap;">{{eloc.rules}}</p>
          </div>
          <div v-if="eloc.notes" class="field">
            <label class="label">Notes</label>
            <p style="white-space: pre-wrap;">{{eloc.notes}}</p>
          </div>
        </div>

      </div>

    </div>

  </div>

</section>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let maps_api_key = "[[=XML(MAPS_API_KEY)]]";
  let get_locations_url = "[[=XML(get_locations_url)]]";
</script>
<script src="js/index.js"></script>
[[end]]