[[extend 'layout.html']]

[[block page_head]]
<link rel="stylesheet" href="css/index.css">
[[end]]

<!--
See https://developers.google.com/maps/documentation/urls/get-started
-->

<section class="section">

  <div id="vue-target">

    <div class="columns">
      <div class="column is-one-third">

        <h1 class="title">Search ballot return locations</h1>

        <!-- zip code -->
        <div class="field">
          <label class="label">Zip code</label>
          <div class="control has-icons-right">
            <input class="input" placeholder="Your zip code" @keydown="lookup_zip" v-model="zipcode">
            <span class="icon is-small is-right"><i class="fa fa-search"></i></span>
          </div>
        </div>

        <!-- Place list -->
        <div v-if="locations.length === 0 && search_happened">
          No locations found.
        </div>
        <div v-if="locations.length === 0" class="mt-5">
          Enter a zip code to search the database of locations where ballots can be returned.
        </div>
        <div v-else>
          <div class="subtitle">Locations:</div>
          <div v-if="!loc_specified && locations.length > 0">
            Your location has been guessed on the basis of your IP address.
          </div>
          <table class="table is-narrow is-hoverable is-fullwidth location_list">
            <tbody>
            <tr v-for="loc in locations" @click="goto(loc._idx)">
              <td>{{loc.name}}</td>
            </tr>
            </tbody>
          </table>
          <p v-if="locations.length > 0" class="has-text-grey">Click on a result to display it on a map.</p>
        </div>
      </div>

      <div class="column">
        <iframe width="100%" style="height:450px !important" height="450" frameborder="0" style="border:0"
                :src="mapsurl" allowfullscreen></iframe>

        <!-- Details -->
        <div v-if="eloc">
          <div class="field">
            <label for="name" class="label">Name</label>
            <input class="input is-static" placeholder="Location name" v-model="eloc.name" readonly>
          </div>
          <div class="field">
            <label class="label">Address</label>
            <textarea class="textarea" v-model="eloc.address" rows="3" readonly></textarea>
          </div>
          <div class="field">
            <label class="label">Location type</label>
            <p v-if="eloc.loc_type === 'Other'">{{eloc.type_other}}</p>
            <p v-else>{{eloc.type_other}}</p>
          </div>
          <div class="field">
            <label class="label">Rules</label>
            <textarea class="textarea" v-model="eloc.rules" rows="2" readonly></textarea>
          </div>
          <div v-if="eloc.date_open" class="field">
            <label class="label">Open from date</label>
            {{eloc.date_open}}
          </div>
          <div v-if="eloc.date_close" class="field">
            <label class="label">Closing on date</label>
            {{eloc.date_close}}
          </div>
          <div v-if="eloc.time_open" class="field">
            <label class="label">Daily opening time</label>
            {{eloc.time_open}}
          </div>
          <div v-if="eloc.time_close" class="field">
            <label class="label">Daily closing time</label>
            {{eloc.time_close}}
          </div>
        </div>

      </div>

    </div>

  </div>

</section>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let maps_api_key = "[[=XML(MAPS_API_KEY)]]";
  let get_locations_url = "[[=XML(get_locations_url)]]";
</script>
<script src="js/index.js"></script>
[[end]]