[[extend 'layout.html']]

[[block page_head]]
[[end]]

<section class="section">
  <div class="title">
    Vote-Map
  </div>

  <div>
    <div class="subtitle">Searching ballot return locations</div>
    <p>
    Vote-Map enables you to look up the locations where you can return your ballots without having to email them.
    To search the locations, enter your zip code.
    The reason we allow you to look up locations only by zip code, rather than by browsing a map, is to reduce our costs, as we can precompute the results for each zip code.
    </p>
  </div>

  <div>
    <div class="subtitle mt-6">Editing ballot return locations</div>
    <p>
      The locations returned by Vote-Map are crowsourced.
      To edit the locations, you need to log in; an edit link will then appear in the
      top bar of the site.
    </p>
  </div>
</section>

[[block page_scripts]]
[[end]]