<!DOCTYPE html>
<html>
  <head>
    <base href="[[=URL('static')]]/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="data:image/x-icon;base64,AAABAAEAAQEAAAEAIAAwAAAAFgAAACgAAAABAAAAAgAAAAEAIAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAPAAAAAA=="/>
    <link rel="stylesheet" href="css/votestyle.css">
    <link rel="stylesheet" href="[[=URL('static', 'font-awesome-4.7.0/css/font-awesome.css')]]">
    [[block page_head]]<!-- individual pages can customize header here -->[[end]]
  </head>
  <body>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="[[=URL('index')]]">
            <img src="images/vote_icon_inverted.png">
        </a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="left-navbar"
           onclick="this.classList.toggle('is-active');document.getElementById(this.dataset.target).classList.toggle('is-active');">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="left-navbar" class="navbar-menu">
        <div class="navbar-start">
          [[if globals().get('user'):]]
          <a class="navbar-item" href="[[=URL('edit')]]">edit</a>
          [[pass]]
          <a class="navbar-item" href="[[=URL('info')]]">info</a>
          [[block page_menu_items]]<!-- individual pages can add menu items here -->[[end]]
        </div>
        <div class="navbar-end">
          [[if globals().get('user'):]]
          <div class="navbar-item">
            <p>[[=globals().get('user').get('email')]]</p>
          </div>
          [[pass]]
          <div class="navbar-item">
            <div class="buttons">
              [[if globals().get('user'):]]
              <a class="button is-light" href="[[=URL('auth/logout')]]">Sign out</a>
              [[else:]]
              <a class="button is-link" href="[[=URL('auth/plugin/oauth2google/login', vars=dict(next='../index'))]]">Sign In</a>
              [[pass]]
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- beginning of HTML inserted by extending template -->
    [[include]]
    <!-- end of HTML inserted by extending template -->
    <footer class="footer">
      <div class="content has-text-centered">
        <a href="[[=URL('privacy')]]">Privacy policy and terms of use</a>.
        Contact: <a href="mailto:vote-map@googlegroups.com">vote-map@googlegroups.com</a>.
        Made with <a target="_blank" href="http://py4web.com">py4web</a>.
      </div>
    </footer>
  </body>
  <script src="js/sugar.min.js"></script>
  <script src="js/axios.min.js"></script>
  <script src="js/vue.js"></script>
  <script src="js/utils.js"></script>
  [[block page_scripts]]<!-- individual pages can add scripts here -->[[end]]
</html>
