[[extend 'layout.html']]

[[block page_head]]
[[end]]

<section class="section">

  <div class="title">
    Terms of Use
  </div>

  <div>
    <p>
      By using Vote Map, you are agreeing with the privacy policy below.
    </p>
    <p>Furthermore, if you edit the map, you agree to provide correct and
      up to date information.</p>
  </div>

  <div class="title mt-6">
    Privacy Policy
  </div>

  <div>
    <p class="subtitle">Cookies</p>
    <p>Vote-Map uses cookies to enable you to log in into the site, and authenticate you
      if you visit again.  When you log in, Vote-Map stores your email address, which is used
    to identify you in the system.</p>
    <p class="subtitle mt-4">Editing the site</p>
    <p>When you edit the site, Vote-Map stores the data of your edit (the location
    where ballots can be returned, and the associated data),
      along with your identity, and the time when the edit was done.</p>
    <p class="subtitle mt-4">Logs</p>
    <p>Vote-Map logs all accesses.  For every access, the IP address of the originator
    is logged, along with the user email address if the user is logged in; details of the
    HTTP request are also logged.  These logs are retained for some time, typically about a week.
    The logs are used to debug errors in the website and profile its performance.</p>
    <p class="subtitle mt-4">Use of third-party infrastructure</p>
    <p>Vote-Map is hosted on the Google Cloud, and we use Google Cloud services to
    store the data and to display the maps.</p>
    <p class="subtitle mt-4">Sharing your personal information</p>
    <p>Vote-Map does not share your personal information.  Vote-Map shares the data
      on polling site locations that you and others entered with its users,
      and possibly with third parties.</p>
  </div>
</section>

[[block page_scripts]]
[[end]]