[[extend 'layout.html']]

[[block page_head]]
<link rel="stylesheet" href="css/refine.css">
[[end]]

<section class="section">

  <div id="map"></div>

  <div id="vue-target">

  </div>

</section>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let callback_url = "[[=XML(callback_url)]]";
</script>
<script src="js/refine.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=[[=MAPS_API_KEY]]&callback=initMap"
  type="text/javascript"></script>
[[end]]