[[extend 'layout.html']]

[[block page_head]]
<link rel="stylesheet" href="css/staticmap.css">
[[end]]

<!--
See https://developers.google.com/maps/documentation/urls/get-started
-->

<section class="section">

  <div id="vue-target">

    <h1 class="title">Places</h1>
    <ul>
      <li v-for="p in places"><a :href="p.url" target="_blank">{{p.name}}</a></li>
    </ul>

  </div>

</section>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let callback_url = "[[=XML(callback_url)]]";
</script>
<script src="js/staticmap.js"></script>
[[end]]